<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		
		 <div class="container-fluid text-light mt-5">
          <div class="Footer">
            <div class="left">
              <ul>
                <li> About Us</li>
                <li>Contact Us</li>
                <li>Shipping Policy</li>
                <li>Refund Policy</li>
                <li>Privacy Policy</li>
                <li>Delivery Info</li>
                <li>Terms and Conditions</li>
              </ul>
            </div>
            <div class="middle  container">
              <div class="row">
                <div class="card  mt-5 ms-5" style=" width:18rem">
                  <img
                    src="./images/logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="card-body text-light mt-5">
                  <p class="card-text ">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="right  conatiner">
              <div class="row">
                <div class="card-body text-light mt-5">
                  <h2 class="text-center">Social Media Detail</h2>
                  <ul class="text-center">
                    <li>
                      <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                      <i class="fab fa-facebook"></i>
                    </li>
                    <li>
                      <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                      <i class="fab fa-linkedin"></i>
                    </li>
                  </ul>
                  <p class="card-text text-center ">
                    Some quick example text to build on the
                    <br /> card title and make up the bulk of the card's
                    content.
                  </p>
                </div>
                <h2 class="text-center">Payment Method</h2>
              </div>
            </div>
          </div>
        </div>
	</section>
</body>
</html>